.bs-docs-section{margin-top:4em}
.bs-docs-section .page-header h1 { padding: 2rem 0; font-size: 3rem; margin-bottom: 10px }
.btn-space{margin-right:5px}
.playlist-title-td{width:60%}
.playlist-title{float:left; }
.playlist-artwork{float:left; margin-left:10px;}
.tag-click{cursor:pointer;}
