.bs-docs-section{margin-top:4em}
.bs-docs-section .page-header h1 { padding: 2rem 0; font-size: 3rem; margin-bottom: 10px }
.btn-space{margin-right:5px;}
.tag-space{margin-right:3px;}
.playlist-title-td{width:60%}
.playlist-title{float:left; }
.playlist-item {transition: all 0.2s ease-in-out;}
.playlist-artwork{
   float:left;
   margin-left:10px;
   white-space: nowrap;
   overflow: hidden;
}
.tag-click{
   cursor:pointer;
   transition: 400ms;
}
.tag-unclicked{
   opacity: 0.6;
}
.tag-clicked{
   box-shadow: 2px 4px 10px #777777;
   transform: scale(1.2);
   opacity: 1;
   margin: 5px;
}
.floating-button {
   width: 50px;
   height: 50px;
   background-color: #aaaaaa40;
   border-radius: 50%;
   box-shadow: 0 6px 10px 0 #66666647;
   transition: all 0.1s ease-in-out;
   font-size: 25px;
   color: #9896967a;
   text-align: center;
   line-height: 52px;
   position: fixed;
   right: 50px;
   bottom: 40px;
}
.floating-button:hover {
    background-color: hsl(0, 0%, 43%);
    color: white;
}
.library-item{
   display: flex;
   margin-left: 5px;
   padding: .5rem .5rem .5rem 0;
   height: 72px;
   transition: ease-in-out 200ms;
}
.library-thumb-img {
   width: 70px;
   height: 70px;
   border-radius: 5px;
}
.library-thumb-col {
   position: relative;
   padding-left: 0;
   overflow: hidden;
   margin: -0.5rem 1rem -0.5rem 0;
}
.library-thumb-grp {
   position: absolute;
   top: 0;
   left: -95px;
   width: 70px;
   margin-left: 15px;
   transition: left 300ms;
   border-radius: 5px;
   opacity: 0.6;
   font-weight: 300;
}
.library-thumb-img:hover + .library-thumb-grp {
   left: -15px;
}
.library-thumb-grp:hover {
   left: -15px;
}
.library-thumb-btn-up {
   position: absolute !important;
   top: 0;
   height: 70px;
   font-size: 2em;
   padding-top: 10px;
}
.library-btn-svg {
   width: 1rem;
   fill: currentColor;
}
.library-info-col {
   margin-right: 1rem;
   padding: 3px 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   white-space: nowrap;
   overflow: hidden;
}
.library-info-col .small {
    font-weight: 300;
}
.library-action {
    margin-left: auto;
}
.library-info-col .path{
   font-style: italic !important;
   font-weight: 300;
}
#volume-slider {
   margin-top: 8px;
   margin-right: 6px;
}
