<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
</head>
<body>
<a href="."><h5>Refresh</h5></a>
<br>
<div id="download">
    <form action="./download" method="post" enctype="multipart/form-data">
        <input type="file" name="music_file" value="Browse Music file"/>
        <select name="directory">
            {% for dir in all_files %}
            <option value={{ dir }}>{{ dir }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Upload"/>
    </form>
</div>
<div id="url">
    Add Youtube/Soundcloud URL :
    <form method="post">
        <input type=text name="add_url">
        <input type="submit" value="Add URL">
    </form>
</div>
<div id="radio">
    Add Radio URL :
    <form method="post">
        <input type=text name="add_radio">
        <input type="submit" value="Add Radio">
    </form>
</div>
<div id="playlist">
    Current Playing :
    {% if current_music %}
    {{ current_music[0] }} > {{ current_music[2] }}
    {% else %}
    No music
    {% endif %}
    <br>
    Playlist :
    <form method="post"><input type=text value="randomize" name="action" hidden><input type="submit" value="Randomize playlist"></form>

    <ul>
        {% for m in playlist %}
        <li>{{ m[0] }} - {{ m[1] }}
            <form method="post"><input type=text value="{{ m }}" name="delete_music" type="file" hidden><input type="submit" value="X"></form>
        </li>
        {% endfor %}
    </ul>
    <br>
    {% for dir in all_files %}
    {{ dir }}
    <form method="post"><input type=text value={{ dir }} name="add_folder" hidden><input type="submit" value="add all folder"></form>
    <br>
    <ul>
        {% for m in all_files[dir] %}
        <li>
            <form method="post"><input type=text value="{{ dir }}/{{ m }}" name="add_music" hidden><input type="submit" value="{{ m }}"></form>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}


</div>
<div id="browser">

</div>
<div id="upload">

</div>
</body>
</html>